<template>
  <v-container>
  <v-parallax
    dark
    src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
  >
    <v-row
      align="center"
      justify="center"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        <h1 class="text-h4 font-weight-thin mb-4">
          About
        </h1>
        <h4 class="subheading">
          Team 1 Vue Sanbercode
        </h4>
      </v-col>
    </v-row>
  </v-parallax>
   <v-card-text class="ma-3">
  
  </v-card-text>
  <v-row>
    <v-col
      cols="12"
      sm="4"
    >
      <v-hover open-delay="200">
        <template v-slot:default="{ hover }">
          <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-card-text>
              <h2 class="text-h6 primary--text">
                "Styling & Layout"
              </h2>
            </v-card-text>

            <v-card-title>
              <v-avatar>
                <img
                  src="https://secure.gravatar.com/avatar/5b32a74c920db228f788355d60741672?s=800&d=identicon"
                  alt="img"
                >
              </v-avatar>
              <v-card-title>Akbar Yopiananda</v-card-title>
            </v-card-title>

            <v-fade-transition>
              <v-overlay
                v-if="hover"
                absolute
                color="#036358"
              >
              </v-overlay>
            </v-fade-transition>
          </v-card>
        </template>
      </v-hover>
    </v-col>
    <v-col
      cols="12"
      sm="4"
    >
      <v-hover open-delay="200">
        <template v-slot:default="{ hover }">
          <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-card-text>
              <h2 class="text-h6 primary--text">
                "CRUD Management"
              </h2>
            </v-card-text>

            <v-card-title>
              <v-avatar>
                <img
                  src="https://gitlab.com/uploads/-/system/user/avatar/8219555/avatar.png?width=400"
                  alt="img"
                >
              </v-avatar>
              <v-card-title>Esau Batkunda</v-card-title>
            </v-card-title>

            <v-fade-transition>
              <v-overlay
                v-if="hover"
                absolute
                color="#036358"
              >
              </v-overlay>
            </v-fade-transition>
          </v-card>
        </template>
      </v-hover>
    </v-col>
    <v-col
      cols="12"
      sm="4"
    >
      <v-hover open-delay="200">
        <template v-slot:default="{ hover }">
          <v-card
            class="mx-auto"
            max-width="344"
          >
            <v-card-text>
              <h2 class="text-h6 primary--text">
                "Authentication"
              </h2>
            </v-card-text>

            <v-card-title>
              <v-avatar>
                <img
                  src="https://secure.gravatar.com/avatar/70db3d78bc488556c28f1980499f8c10?s=800&d=identicon"
                  alt="img"
                >
              </v-avatar>
              <v-card-title>Kadek Cahya</v-card-title>
            </v-card-title>

            <v-fade-transition>
              <v-overlay
                v-if="hover"
                absolute
                color="#036358"
              >
              </v-overlay>
            </v-fade-transition>
          </v-card>
        </template>
      </v-hover>
    </v-col>
    
  </v-row>
  
  <v-card-text class="ma-9">
  </v-card-text>
  <v-divider class="ma-3"></v-divider>

 
  </v-container>

</template>