<template>
  <v-container>
    <v-carousel
      cycle
      height="400"
      hide-delimiter-background
      show-arrows-on-hover>
      <v-carousel-item v-for="blog in blogs" :key="`blog-${blog.id}`" xs6>
        <v-sheet
          height="100%">
          <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/800/1000'"
          class="white--text" gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)">
          
          <v-btn
            text :to="'/blog/'+blog.id"
            color="white">
            {{blog.title.substring(0,15)}} 
          </v-btn>
          </v-img>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <br>
    <v-row>
      <v-col>
          <v-layout wrap>
          <blog-items 
          v-for="blog in blogs" 
          :key="`blog` + blog.id"
          :blog="blog"
           class="pa-2">
          </blog-items>
          </v-layout>
      </v-col>
    </v-row>
    <v-row
      align="center"
      justify="space-around">
      <v-btn align="center"
        text to="/blogs"
        color="blue"
        rounded>
        View More
      </v-btn>
    </v-row>
  </v-container>
</template>

<script>
import BlogItems from '../components/BlogItems.vue';
export default {
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs: []
  }),
  components: {
    'blog-items': BlogItems
  },
  methods: {
    go(){
      this.axios
        .get(`${this.apiDomain}/api/v2/blog/random/4`)
        .then((response) => {
          let {blogs} = response.data
          this.blogs = blogs
        })
        .catch(error => {
          console.log(error)
        })
    }
  },
  created() {
    this.go();
  }
};
</script>
