<template>
  <v-container>
    <v-row>
      <v-col v-for="blog in blogs" :key="`blog-`+blog.id" xs6>
        <v-card>
          <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
          <v-card-title v-text="blog.title" class="fill-height align-end text--white"></v-card-title>
          </v-img>
          <v-card-actions>
                <span>{{ blog.description.substring(0, 15) }}...</span>
            </v-card-actions>
          <v-card-actions>
            <v-progress-linear color="blue-grey" height="1" v-if="!guest">
            </v-progress-linear>
          </v-card-actions>
          
          <v-card-actions>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="primary" icon small :to="`blog/${blog.id}`">
                  <v-icon>mdi-eye</v-icon>
              </v-btn>
                
              </template>
              <span>Read me</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="primary" icon small v-on:click="editPost(blog.id)" v-if="!guest">
                  <v-icon>mdi-pencil</v-icon>
              </v-btn>
                
              </template>
              <span>Edit Blog</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="primary" icon small v-on:click="uploadPhoto(blog.id)" v-if="!guest">
                  <v-icon>mdi-camera</v-icon>
              </v-btn>
                
              </template>
              <span>Upload Pict</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn v-bind="attrs" v-on="on" color="red" icon small v-on:click="deletePost(blog.id)" v-if="!guest">
                    <v-icon>mdi-delete</v-icon>
                </v-btn>
                
              </template>
              <span>Delete Post</span>
            </v-tooltip>

          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
      <v-pagination class="mt-3" 
      v-model="page" 
      @input="go" 
      :length="lengthPage" 
      :total-visible="7">
      </v-pagination>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
  data: () => ({
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    blogs: [],
    page: 0,
    lengthPage: 0,
    idEditBlog: 0
  }),
  methods: {
    ...mapActions({
        setAlert : 'alert/set',
        setDialogBlogComponent: 'blog_dialog/setComponent',
    }),
    go(){
      this.axios
        .get(`${this.apiDomain}/api/v2/blog?page=${this.page}`)
        .then((response) => {
          let {blogs} = response.data
            this.blogs = blogs.data
            this.page = blogs.current_page
            this.lengthPage = blogs.last_page
            this.perPage = blogs.per_page
        })
        .catch(error => {
          console.log(error)
        })
    },
    uploadPhoto(blog){
       this.idEditBlog = blog
       this.setDialogBlogComponent({'component': 'upload-photo', 'data' : this.idEditBlog, 'fungsiLoad' : this.go()})
    },
    editPost(blog){
       this.idEditBlog = blog
       this.setDialogBlogComponent({'component': 'update-blog', 'data' : this.idEditBlog, 'fungsiLoad' : this.go()})
    },
    deletePost(id){
      let result = confirm(`yakin menghapus ${id}?`);
      if (result) {
        const config = {
        method: "post",
        url: `${this.apiDomain}/api/blog/${id}`,
        params: { _method: "DELETE" }
        }
        this.axios(config)
        .then(() => {
          this.go()
          this.setAlert({
              status: true,
              color: 'primary',
              text: 'hapus berhasil'
          })
        })
        .catch((error) => {
            console.log(error)
            this.setAlert({
              status: true,
              color: 'primary',
              text: 'yah, hapus blog post gagal'
          })
        })
      }
    },
  },
  computed: {
    ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
        token: 'auth/token',
      })
  },
  created() {
    this.go();
  }
};
</script>
