<template>
  <v-container>
    <div class="text-left">
      <v-btn small text to="/blogs" class="blue--text">
        <v-icon>mdi-chevron-left</v-icon>Back
      </v-btn>
    </div>
    <!-- <div class="text-right">
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" color="primary" icon small v-on:click="editPost(blog.id)" v-if="!guest">
            <v-icon>mdi-pencil</v-icon>
        </v-btn>
          
        </template>
        <span>Edit Blog</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" color="primary" icon small v-on:click="uploadPhoto(blog.id)" v-if="!guest">
            <v-icon>mdi-camera</v-icon>
        </v-btn>
          
        </template>
        <span>Upload Pict</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" color="red" icon small v-on:click="deletePost(blog.id)" v-if="!guest">
              <v-icon>mdi-delete</v-icon>
          </v-btn>
          
        </template>
        <span>Delete Post</span>
      </v-tooltip>

    </div> -->
    <v-row  class="ma-0 pa-0 grid-list-sm">
      <v-col>
        <v-card v-if="blog.id" class="pa-2">
             <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
             </v-img>
             <v-card-title v-text="blog.title" class="fill-height align-end"></v-card-title>
             <v-card-text v-text="blog.description"></v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    data: () => ({
        blog: {},
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        blogs: []
    }),
    computed: {
      ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
        token: 'auth/token',
      })
    },
    methods: {
        ...mapActions({
          setAlert : 'alert/set',
          setDialogBlogComponent: 'blog_dialog/setComponent',
        }),
        go(){
            let {id} = this.$route.params
            this.axios
            .get(`${this.apiDomain}/api/v2/blog/${id}`)
            .then(response => {
                let {blog} = response.data
                this.blog = blog
            })
            .catch(error => {
                console.log(error)
            })
        },
        uploadPhoto(blog){
        this.idEditBlog = blog
        this.setDialogBlogComponent({'component': 'upload-photo', 'data' : this.idEditBlog, 'fungsiLoad' : this.go()})
        },
        editPost(blog){
          this.idEditBlog = blog
          this.setDialogBlogComponent({'component': 'update-blog', 'data' : this.idEditBlog, 'fungsiLoad' : this.go()})
        },
        deletePost(id){
          let result = confirm(`yakin menghapus ${id}?`);
          if (result) {
            const config = {
            method: "post",
            url: `${this.apiDomain}/api/blog/${id}`,
            params: { _method: "DELETE" }
            }
            this.axios(config)
            .then(() => {
              this.go()
              this.setAlert({
                  status: true,
                  color: 'primary',
                  text: 'hapus berhasil'
              })
              this.$router.back()
            })
            .catch((error) => {
                console.log(error)
                this.setAlert({
                  status: true,
                  color: 'primary',
                  text: 'yah, hapus blog post gagal'
              })
            })
          }
        }
    },
    created(){
        this.go();
    }
}
</script>