<template>
    <keep-alive>
        <v-dialog v-model="dialog" transition="dialog-bottom-transition" max-width="600">
            <components :is="currentComponent" @closed="setDialogStatus"></components>
        </v-dialog>
    </keep-alive>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    components :{
        Login:() => import('./Login.vue'),
        Register:() => import('./Register.vue'),
        // Blog:() => import('./Blog.vue'),
    },

    computed :{
        ...mapGetters({
            dialogStatus: 'auth_dialog/status',
            currentComponent: 'auth_dialog/component',
        }),

        dialog: {
            get(){
                return this.dialogStatus
            },
            set(value){
                this.setDialogStatus(value)
            }
        }
    },

    methods :{
        ...mapActions({
            setDialogStatus: 'auth_dialog/setStatus',
        }),
    }
}
</script>
