<template>
    <keep-alive>
        <v-dialog v-model="dialog" transition="dialog-bottom-transition" max-width="600">
            <components :is="currentComponent" @closed="setDialogStatus"></components>
        </v-dialog>
    </keep-alive>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    components :{
        Blog:() => import('./Blog/Blog.vue'),
        UpdateBlog:() => import('./Blog/UpdateBlog.vue'),
        UploadPhoto:() => import('./Blog/UploadPhoto.vue'),
    },

    computed :{
        ...mapGetters({
            dialogStatus: 'blog_dialog/status',
            currentComponent: 'blog_dialog/component',
        }),

        dialog: {
            get(){
                return this.dialogStatus
            },
            set(value){
                this.setDialogStatus(value)
            }
        }
    },

    methods :{
        ...mapActions({
            setDialogStatus: 'blog_dialog/setStatus',
        }),
    }
}
</script>
