<template>
    <v-flex xs6>
        <v-card :to="`blog/${blog.id}`">
            <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/400/600'" class="white--text" height="200px">
             <v-card-title v-text="blog.title" class="fill-height align-end"></v-card-title>
            </v-img>
             <v-card-actions>
                <v-progress-linear color="blue-grey" height="1">
                </v-progress-linear>
            </v-card-actions>
            <v-card-actions>
                <span>{{ blog.description.substring(0, 15) }}...</span>
            </v-card-actions>
        </v-card>
    </v-flex>
    
</template>
<script>
export default {
    data:() => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
    }),
    props: ['blog'],
}
</script>