<template>
    <v-card>
        <v-toolbar dark color="secondary">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container fluid>
            <v-form ref="form">
                <v-text-field
                    v-model="name"
                    label="Name"
                    required
                    append-icon="mdi-account"
                ></v-text-field>
                <v-text-field
                    v-model="email"
                    label="E-mail"
                    type="email"
                    required
                    append-icon="mdi-email"
                ></v-text-field>
                <v-text-field
                    v-model="password"
                    label="Password"
                    required
                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPassword ? 'text' : 'password'"
                    counter
                    @click:append="showPassword = !showPassword"
                ></v-text-field>
                <v-file-input
                    show-size
                    label="Photo Profile"
                    @change="selectFile"
                    ref="photo_profile"
                    append-icon="mdi-camera"
                ></v-file-input>

                <div class="text-xs-center">
                    <v-btn
                        color="success lighten-1"
                        @click="submit"
                        :loading="loader"
                        rounded
                    >Register
                        <v-icon right dark>mdi-lock-open</v-icon>
                    </v-btn>
                </div>
            </v-form>

        </v-container>
    </v-card>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    data(){
        return {
            email: '',
            password: '',
            name: '',
            photo_profile: undefined,
            showPassword: false,
            apiDomain: 'https://demo-api-vue.sanbercloud.com',
            loader: false,
        }
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set',
            setToken : 'auth/setToken'
        }),

        close(){
            this.email = ''
            this.password = ''
            this.name = ''
            this.$refs.photo_profile.value=null;
            this.$emit('closed', false)
        },

        selectFile(file) {
            this.photo_profile = file;
        },
        submit(){
            this.loader = true
            
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('email', this.email)
            formData.append('password', this.password)
            formData.append('photo_profile', this.photo_profile)

            const config = {
                method: 'POST',
                url: this.apiDomain + '/api/v2/auth/register',
                data: formData
            }

            const config_login = {
                method: 'POST',
                url: this.apiDomain + '/api/v2/auth/login',
                data: {
                    email: this.email,
                    password: this.password,
                }
            }

            this.axios(config)
                .then( (response) => {
                    console.log(response)

                    this.axios(config_login)
                        .then( (response) => {
                            this.setToken(response.data.access_token)
                            this.setAlert({
                                status: true,
                                color: 'primary',
                                text: 'Hore, login berhasil'
                            })
                            this.close()
                            this.loader = false
                        })
                        .catch( (response) => {
                            console.log(response)
                            this.setAlert({
                                status: true,
                                color: 'danger',
                                text: 'Yah, gagal login'
                            })
                            this.loader = false
                        })

                    this.close()
                    this.loader = false
                })
                .catch( (response) => {
                    console.log(response)
                    this.setAlert({
                        status: true,
                        color: 'danger',
                        text: 'Yah, gagal register'
                    })
                    this.loader = false
                })
                this.$router.push()
        }
    }
}
</script>