<template>
    <v-card>
        <v-toolbar dark class="primary">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>Edit Post</v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
        <v-row class="ma-0 pa-0 grid-list-sm" center>
            <v-col>
                <v-form ref="form" 
                v-model="valid"
                lazy-validation
                >
                    <v-text-field
                    v-model="post.title"
                    :counter="50"
                    :rules="titleRules"
                    label="Title"
                    ></v-text-field>
                    <v-textarea
                    counter
                    v-model="post.description"
                    label="Deskripsi"
                    :rules="descriptionRules"
                    ></v-textarea>
                    <v-btn :loading="loader" v-on:click="postSubmit" :disabled="!valid" block class="mt-3 primary">Post</v-btn>
                </v-form>
            </v-col>
        </v-row>
        </v-container>
    </v-card>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        loader: false,
        errors: [],
        post: {
            title: '',
            description: '',
            id: ''
        },
        titleRules: [
            v => v != '' || 'title is require',
            v => (v && v.length <= 50) || 'title must be less than 10 characters',
        ],
        descriptionRules: [
            v => v != '' || 'description is require'
        ],
    }),
    computed: {
        ...mapGetters({
            dataId: 'blog_dialog/data',
            token: 'auth/token',
        })
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set'
        }),
        close(){
            this.$emit('closed', false)
            this.clearPost()
        },
        clearPost(){
            this.post.title = ''
            this.post.description = ''
        },
        postSubmit(){
            this.loader = true
            this.$refs.form.validate()
            if(this.errors.length === 0){
                let formData = new FormData()
                formData.append('title', this.post.title)
                formData.append('description', this.post.description)
                const config = {
                    method: "post",
                    url: `${this.apiDomain}/api/blog/${this.id}?_method=PUT`,
                    data: formData
                }
                this.axios(config, this.token)
                    .then((response) => {
                    this.setAlert({
                        status: true,
                        color: 'primary',
                        text: 'Hore, edit post berhasil'
                    })
                    this.close()
                    this.$router.push(`/blog/${response.data.blog.id}`)
                    this.loader = false
                    
                })
                .catch((error) => {
                    console.log(error)
                    this.setAlert({
                        status: true,
                        color: 'danger',
                        text: 'Yah, gagal edit post'
                    })
                    this.loader = false
                })
            }

        },
        getBlogById(){
            this.id = this.dataId
            const config = {
                method: "get",
                url: `${this.apiDomain}/api/blog/${this.dataId}`
            }
            this.axios(config)
                .then((response) => {
                    this.post.title = response.data.blog.title
                    this.post.description = response.data.blog.description
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.getBlogById()
    }
}
</script>