<template>
    <v-card>
        <v-toolbar dark class="primary">
            <v-btn icon dark @click.native="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>{{ post.title }} <small>upload pict</small></v-toolbar-title>
        </v-toolbar>
        <v-divider></v-divider>
        <v-container>
        <v-row class="ma-0 pa-0 grid-list-sm" center>
            <v-col>
                <v-form ref="form"
                >
                    <v-file-input
                        show-size
                        label="Photo Blog"
                        @change="selectFile"
                        append-icon="mdi-camera"
                    ></v-file-input>
                    <br>
                    <v-img :src="imagePreview" width="300" v-show="showPreview"/> 
                    <v-btn :loading="loader" v-on:click="postSubmit" :disabled="!valid" block class="mt-3 primary">Post</v-btn>
                </v-form>
            </v-col>
        </v-row>
        </v-container>
    </v-card>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
    data: () => ({
        apiDomain: 'https://demo-api-vue.sanbercloud.com',
        valid: true,
        loader: false,
        errors: [],
        photo: undefined,
        imagePreview: null,
        showPreview: false,
        post: {
            title: '',
            description: '',
            id: ''
        },
    }),
    computed: {
        ...mapGetters({
            dataId: 'blog_dialog/data',
            guest: 'auth/guest',
            user: 'auth/user',
            token: 'auth/token',
        })
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set'
        }),
        selectFile(file) {
            this.photo = file;
            let reader  = new FileReader();
            reader.onload = () => {
                this.showPreview = true;
                this.imagePreview = reader.result;
            }
            reader.readAsDataURL(file)
        },
        close(){
            this.$emit('closed', false)
            this.clearPost()
        },
        clearPost(){
            this.post.title = ''
            this.post.description = ''
            this.photo = undefined
        },
        postSubmit(){
            this.loader = true
            if(this.photo === undefined){
                this.setAlert({
                    status: true,
                    color: 'warning',
                    text: 'fotonya jangan kosong ya'
                })
                return
            }
            let formData = new FormData()
            formData.append('photo', this.photo)
            const config = {
                method: 'POST',
                url: `${this.apiDomain}/api/v2/blog/${this.dataId}/upload-photo`,
                data: formData,
                headers: {'Authorization' : `Bearer ${this.token}` },
            }
            this.axios(config)
                .then((response) => {
                    this.setAlert({
                        status: true,
                        color: 'primary',
                        text: 'Hore, upload foto berhasil'
                    })
                    this.close()
                    this.$router.push(`/blog/${response.data.blog.id}`)
                    this.loader = false
                })
                .catch((err) => {
                    console.log(err)
                    this.setAlert({
                        status: true,
                        color: 'primary',
                        text: 'Yah, gagal upload foto'
                    })
                    this.loader = false
                })
                
        },
        getBlogById(){
            this.id = this.dataId
            const config = {
                method: "get",
                url: `${this.apiDomain}/api/blog/${this.dataId}`
            }
            this.axios(config)
                .then((response) => {
                    this.post.title = response.data.blog.title
                    this.post.description = response.data.blog.description
                })
                .catch((error) => {
                    console.log(error)
                })
        },
    },
    mounted() {
        this.getBlogById()
    }
}
</script>