<template>
  <!-- App.vue -->
<v-app>
  <Alert/>
  <AuthDialog/>
  <BlogDialog/>

  <v-navigation-drawer app
      v-model="drawer"
      temporary
    >
      <v-list-item class="px-2" v-if="!guest">
        <v-list-item-avatar>
          <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/lego/6.jpg'"></v-img>
        </v-list-item-avatar>
        <v-list-item-title>{{ user.name }}</v-list-item-title>
        
      </v-list-item>
      <v-list-item class="px-2" v-if="guest">
        <v-list-item-avatar>
          <v-icon>mdi-ghost</v-icon>
        </v-list-item-avatar>
        <v-list-item-title>Guest</v-list-item-title>
        
      </v-list-item>
      <v-divider></v-divider>

      <v-list
        nav
        dense
        rounded
      >
        <v-list-item-group
          v-model="group"
          color="primary"
          active-class="white"
        >
          <v-list-item v-for="(item, index) in menus" :key="`menu-`+index" :to="item.route">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-title>{{ item.title }}</v-list-item-title>

          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

  <v-app-bar app 
  color="white"
    >
    <v-app-bar-nav-icon @click="drawer = true" color="blue darken-4"></v-app-bar-nav-icon>
      <v-toolbar-title>Our Simple Blog</v-toolbar-title>
      <v-spacer></v-spacer>


        <div class="mr-4" v-if="!guest">
        <v-btn class="mx-2" rounded dark color="indigo" block @click="postBlog">
          <v-icon dark>
            mdi-plus
          </v-icon>
          Create Post
        </v-btn>
        </div>

      
      <div v-if="guest">
        <v-btn color="primary" rounded class="pa-2" block @click="login">
          <v-icon left>mdi-lock</v-icon>
            Login
        </v-btn>
      </div>
      <div>
        <h1>  |  </h1>
      </div>
      <div v-if="guest">
        <v-btn color="success" outlined rounded class="pa-2" block @click="register">
          <v-icon left>mdi-account</v-icon>
            Register
        </v-btn>
      </div>
      <div class="pa-2" v-if="!guest">
        <v-btn block @click="logout" :loading="loader" outlined rounded>
          <v-icon left>mdi-lock</v-icon>
            Logout
        </v-btn>
      </div>
    </v-app-bar>
  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <!-- If using vue-router -->
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer app
      v-bind="localAttrs"
      :padless="padless"
    >
      <v-card
        flat
        tile
        width="100%"
        class="blue darken-4 text-center"
      >
        <v-card-text>
          <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-4"
            icon
            color="white"
          >
            <v-icon size="24px">
              {{ icon }}
            </v-icon>
          </v-btn>
        </v-card-text>
        <v-divider></v-divider>

        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} — <strong>Tim 4 Sanbercode</strong>
        </v-card-text>
      </v-card>
  </v-footer>
</v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'App',
  components: {
    Alert: () => import('./components/Alert.vue'),
    AuthDialog: () => import('./components/AuthDialog.vue'),
    BlogDialog: () => import('./components/BlogDialog.vue'),
  },
  data: () => ({
    drawer: false,
    loader: false,
    menus : [
      { title : 'Home',  icon : 'mdi-home', route : '/'},
      { title : 'Blogs', icon : 'mdi-book-minus', route : '/blogs'},
      { title : 'About', icon : 'mdi-alert-circle-outline', route : '/about'},
    ],
    apiDomain: 'https://demo-api-vue.sanbercloud.com',
    
    group: null,
    icons: [
        'mdi-home',
        'mdi-email',
        'mdi-calendar',
        'mdi-delete',
      ],
      items: [
        'default',
        'absolute',
        'fixed',
      ],
      padless: true,
      variant: 'default',
  }),
  computed: {
      localAttrs () {
        const attrs = {}

        if (this.variant === 'default') {
          attrs.absolute = true
          attrs.fixed = false
        } else {
          attrs[this.variant] = true
        }
        return attrs
      },
      ...mapGetters({
        guest: 'auth/guest',
        user: 'auth/user',
        token: 'auth/token',
      })
    },
    methods: {
      logout(){
        this.loader = true
        let config = {
          method: 'POST',
          url: `https://demo-api-vue.sanbercloud.com/api/v2/auth/logout`,
          headers: {
            'Authorization': 'Bearer ' + this.token,
          }
        }

        this.axios(config)
          .then(() => {
            this.setToken('')
            this.setUser({})
            this.setAlert({
                status: true,
                color: 'primary',
                text: 'Sampai jumpa'
            })
            this.loader = false
          })
          .catch((response) => {
            console.log(response)
            this.loader = false
          })
      },
      login(){
        this.setDialogComponent({'component': 'login'})
      },
      register(){
        this.setDialogComponent({'component': 'register'})
      },
      async postBlog(){
        this.setDialogBlogComponent({'component': 'blog'})
      },
      ...mapActions({
        'setAlert' : 'alert/set',
        'setDialogComponent': 'auth_dialog/setComponent',
        'setDialogBlogComponent': 'blog_dialog/setComponent',
        'setToken' : 'auth/setToken',
        'setUser' : 'auth/setUser',
        'checkToken' : 'auth/checkToken',
      })
    }
};
</script>
